@import url("common.css");

html,body {
  height: 100%; 
  margin: 0;
}


input[type="number"] {  /*html5 for number inputs*/
   width:50px;
   border-radius: 3px;
}


.add_form{ 
  margin: 5px;
  padding:20px;
}


/*  
----------------------------------
play with mmenu  
----------------------------------
*/
.main_div {
 margin-left:20%;
 padding: 0px 10px 5px 25px;
}

.footer_btn {
  margin-left:20%;
  padding: 0px 25px;
  padding-bottom:20px;
}


div.nav_menu
{

  display:flex;
  width: 20%;
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
 /* Enable scrolling if the sidenav has too much content */
}

.left_menu{
  flex: 1;
}

#opener
{ 
  height: 100%;
  width: 5px;
  background: #bbb;
  overflow:visible;
  cursor:w-resize;
  border-right: solid 1px #8c8c8c;
}


#rychka
{
  background: #bbb;
  display: inline-block;
  margin-top: 20px;
  padding: 4px 1px;
  border-bottom-right-radius: 3px;
  color: #8c8c8c;
  border-right: solid 1px;
  border-bottom: solid 1px;
  border-top: solid 1px;
  margin-left: 5px;
  border-top-right-radius: 3px;

}



