.add_form{ /*div with add/edit view  form */
  display:inline-block;
  border-radius: 8px;
  border : 1px solid;
  margin: 5px;
  padding:20px;
  padding-top:0;
  overflow: hidden;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5), 0px 2px 10px 0px rgba(0, 0, 0, 0.12) !important;
}

  
.ingr_table {
  border-radius: 8px;
  overflow: hidden;
  overflow-x:auto;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5), 0px 2px 10px 0px rgba(0, 0, 0, 0.12) !important;
}


.ingr_table table{  /* table of ingredients*/
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  line-height: 1.5;
  text-align:left;
  white-space: nowrap;
}

.ingr_table tr, td, th{
  border: 1px solid #ddd;
  padding:5px;
}

.ingr_table tr:nth-child(even)
{
  background-color: #F1F1F1;
}

.ingr_table tr:hover {
  background-color: #C0C0FF
}

.ingr_table th{
  background-color: #0658B6;
  color: white;
}



input[type="number"] {  /*html5 for number inputs*/
   width:50px;
}

button.cancel  /* buttons decoration*/
{
  background-color: #DF8182;
  box-shadow: 1px 5px 1px #973C3D;
  float:right;
}

button {
  color: #fff;
  background-color: #6496c8;
  border: none;
  padding:5px;
  border-radius: 2px;
  box-shadow: 1px 5px 1px #27496d;
}

button:hover,
button.hover {
  color:#000;
  background-color: #C0FFC0;
  box-shadow: 1px 5px 1px #81AB81;

}

button:active,
button.active {
  background-color: #C0FFC0;;
  box-shadow: 0 1px 1px #27496d;
  transform: translateY(5px);
}
